Repository SarmanAulakh/Portfolio-Old: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-functions, deploy-hosting

deploy-functions:
  stage: deploy-functions
  script:
  - cd functions
  - npm install
  - cd ..
  - firebase deploy --only functions --token $FIREBASE_TOKEN

deploy-hosting:
  stage: deploy-frontend
  script:
  - cd front-end
  - npm install
  - npm run build
  - firebase deploy --only hosting --token $FIREBASE_TOKEN

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

cosmetic change to container texts
  front-end/src/components/Card/styles.css
Due: none

Update functions/package.json
  functions/package.json
Due: deploy-functions

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update package.json
  functions/package.json
Due: deploy-functions

fixed font family for a tags
  front-end/src/index.css
Due: none

style changes
  front-end/src/pages/About/About.css
Due: none

revert style change
  front-end/src/pages/About/About.css
Due: none

fixed secuirty risks and best practices
  front-end/src/App.js
  front-end/src/pages/About/About.js
Due: none

fixed secuirty risks and best practices
  front-end/src/pages/About/About.js
Due: none

added dynamic categories from backend side and updated frontend to use them
  .gitlab-ci.yml
  README.md
  front-end/src/App.js
  front-end/src/components/FilterBar/FilterBar.js
  front-end/src/pages/About/About.js
  front-end/src/pages/Home/Home.css
  front-end/src/pages/Home/Home.js
  front-end/src/pages/Portfolio/Portfolio.js
  functions/routes/index.js
  portfolio-c0519-default-rtdb-export.json
Due: deploy-functions

fixed default url
  front-end/src/App.js
Due: none

added style changes for mobile
  front-end/src/App.css
  front-end/src/pages/Home/Home.css
Due: none

fixed broken clear filters button and fixed mobile navbar position
  front-end/src/App.css
  front-end/src/components/FilterBar/FilterBar.js
  front-end/src/components/Navbar/Navbar.css
  front-end/src/pages/Home/Home.css
  front-end/src/pages/Portfolio/Portfolio.js
Due: none

Update firebase.js
  functions/config/firebase.js
Due: deploy-functions

test
  README.md
Due: none

removed contact page
  README.md
  front-end/package.json
  front-end/src/components/Navbar/Navbar.js
Due: deploy-hosting

Path conditions:
  deploy-functions: any of: functions/**/*
  deploy-hosting: any of: front-end/**
